# Django ayarları
DEBUG=False
SECRET_KEY=gizemli_uzun_bir_key_giriniz
ALLOWED_HOSTS=alkinvaran.com,www.alkinvaran.com,localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=https://alkinvaran.com,https://www.alkinvaran.com,http://localhost,http://127.0.0.1

# Veritabanı (PostgreSQL)
DB_NAME=alkinvaran_db
DB_USER=alkinvaran_user
DB_PASSWORD=cok_guclu_sifre_giriniz
DB_HOST=db
DB_PORT=5432
